*{
    margin: 0;
    padding:0;
}
body{
    background-color: #1a1b33;
    color: white;
}
.mainDiv{   
    height: auto;
    width: 100%;
}
/* ======= start logo section */
.logoDiv{
    margin: 15px 30px;
    border: 1px dashed white;
    border-radius: 5px;
    width: 170px;
    padding: 5px 10px;
}
.logo{
    color:red;
    float: left;
    margin: 7px 3px 0 0;    
}
.appDiv{
    margin: 0 0 0 15px;
    text-transform: uppercase;
    color: #5ce5c1;
}
.xrole{
    font-size: 40px;   
    display: block;    
}
.xrole_font{
    font-family: 'Exo', sans-serif;
}
.currencyConverter{
    font-size: 14px;
    margin: 0 0 0 -17px;
}
/* ============ end  logo section */
/* ============ start content div */
.contentDiv{
    margin: 40px 30% 70px 30%;
    text-align: center;
}
.formDiv{

}
.formDiv h1{
   font-size: 45px;
   text-transform: capitalize;
   font-family: 'Poiret One', cursive;
}
.formDiv p{
    font-size: 24px;
}
form{
    margin: 10px 0 0 0;
    width: 100%;
    height: auto;
}
form input{
    padding: 5px 10px;
    font-size: 15px;
    background-color: transparent;
    border: none;    
    color: white;
}
.formGroup input{
    border-bottom: 1px solid white;
}
.fromToDiv{
    margin: 20px 0 0 0;
}
.fromToDiv input{
    margin: 0 20px 0 0;
}
select{
    padding: 5px 10px;
    margin: 0 10px 0 0;
}
.arrowDiv{
    display: inline;
    margin: 20px;
    font-size: 50px;
}
#convert{
    text-transform: uppercase;
    font-size: 25px;
    padding: 8px 25px;
    border-radius:5px;
    border: none;
    background-color: #5ce5c1;    
    margin: 40px 0 0 0;    
}
#displayResult{
    margin: 20px 0 0 0; 
    color: #5ce5c1;
    font-size: 30px;
}
/*============ end content div*/
footer{
    margin: 130px 0 0 600px;
    font-size: 12px;
}